TWILIO_ACCOUNT_SID=AC5cbb94f85695ce16d97ce2ca2c3f7db0
TWILIO_AUTH_TOKEN=REMPLACER_MANUELLEMENT
TWILIO_MESSAGING_SERVICE_SID=MGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

ISAPP_PUBLIC_BASE_URL=https://invitationspeciale.com