TWILIO_ACCOUNT_SID=AC5cbb94f85695ce16d97ce2ca2c3f7db0
TWILIO_AUTH_TOKEN=REMPLACER_MANUELLEMENT
TWILIO_WHATSAPP_FROM=whatsapp:+17167403177
TWILIO_WHATSAPP_TEMPLATE_SID=REMPLACER_PAR_LE_TEMPLATE_ACTUEL

ISAPP_PUBLIC_BASE_URL=https://invitationspeciale.com