TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=REMPLACER_MANUELLEMENT
TWILIO_MESSAGING_SERVICE_SID=MGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

ISAPP_PUBLIC_BASE_URL=https://invitationspeciale.com

ISAPP_DB_HOST=localhost
ISAPP_DB_NAME=REMPLACER_MANUELLEMENT
ISAPP_DB_USER=REMPLACER_MANUELLEMENT
ISAPP_DB_PASSWORD=REMPLACER_MANUELLEMENT

EVENT_DB_HOST=localhost
EVENT_DB_NAME=REMPLACER_MANUELLEMENT
EVENT_DB_USER=REMPLACER_MANUELLEMENT
EVENT_DB_PASSWORD=REMPLACER_MANUELLEMENT

ISAPP_MAIL_FROM=eventpass@invitationspeciale.com
ISAPP_MAIL_REPLY_TO=eventpass@invitationspeciale.com
ISAPP_MAIL_TRANSPORT=smtp
ISAPP_SMTP_HOST=invitationspeciale.com
ISAPP_SMTP_PORT=587
ISAPP_SMTP_ENCRYPTION=tls
ISAPP_SMTP_USERNAME=eventpass@invitationspeciale.com
ISAPP_SMTP_PASSWORD=REMPLACER_MANUELLEMENT

ISAPP_PASSWORD_RESET_MAIL_FROM=support@invitationspeciale.com
ISAPP_PASSWORD_RESET_MAIL_FROM_NAME=Support Invitation Speciale
ISAPP_PASSWORD_RESET_MAIL_REPLY_TO=support@invitationspeciale.com
ISAPP_PASSWORD_RESET_MAIL_TRANSPORT=smtp
ISAPP_PASSWORD_RESET_SMTP_HOST=invitationspeciale.com
ISAPP_PASSWORD_RESET_SMTP_PORT=587
ISAPP_PASSWORD_RESET_SMTP_ENCRYPTION=tls
ISAPP_PASSWORD_RESET_SMTP_USERNAME=support@invitationspeciale.com
ISAPP_PASSWORD_RESET_SMTP_PASSWORD=REMPLACER_MANUELLEMENT

CREATORSBOMOKO_ADMIN_EMAIL=creatorsbomoko@invitationspeciale.com
CREATORSBOMOKO_ADMIN_PASSWORD=REMPLACER_MANUELLEMENT
CREATORSBOMOKO_SMTP_HOST=invitationspeciale.com
CREATORSBOMOKO_SMTP_USER=creatorsbomoko@invitationspeciale.com
CREATORSBOMOKO_SMTP_PORT=587
CREATORSBOMOKO_SMTP_PASSWORD=REMPLACER_MANUELLEMENT

ISAPP_RECAPTCHA_SECRET=REMPLACER_MANUELLEMENT